@{
    ViewBag.Title = "Dashboard";
}

<div class="container">
    <h2>Dashboard</h2>
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div id="gridRaces" class="grid"></div>
            </div>
            <div class="row">
                <div class="subrow col-md-6">
                    <div id="gridCompetitors" class="grid"></div>
                </div>
                <div class="subrow col-md-6">
                    <div id="gridBets" class="grid"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div id="gridPeopele" class="grid"></div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/dashboard")
}