@{
    ViewBag.Title = "Dashboard";
}

<div class="container-fluid">
    <h2>Dashboard</h2>
    <div class="row">
        <div class="col-md-2">
            <div id="gridRaces" class="grid"></div>
            <div id="gridPeopele" class="grid"></div>
        </div>
        <div class="col-md-3">
            <div id="gridCompetitors" class="grid"></div>
        </div>
        <div class="col-md-4">
            <div id="gridBets" class="grid"></div>
        </div>
        <div class="col-md-3">
            <div id="gridScore" class="grid"></div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/dashboard")
}