<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="BettingContext"
           connectionString="Server=0ff1285e-f142-4ccc-acb4-a4ae01568f83.sqlserver.sequelizer.com;Database=db0ff1285ef1424cccacb4a4ae01568f83;User ID=taiczleivknnjoet;Password=eQFC5geioZTkjPcJx232BWhBdExji7FyjnXMWkQM5kZfQakjw4gCPsrqGdyxQ3aq;"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
