<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="BettingContext"
         connectionString="Server=fbf7391c-75a8-4f02-8c41-a4b0011b27d5.sqlserver.sequelizer.com;Database=dbfbf7391c75a84f028c41a4b0011b27d5;User ID=impdrcpahnmdhehg;Password=beWCtMS4mWrThLBtZLLUuEhGF2gfrreAwX6H88iQTR53VZ2NdiqMED3C5o6AELK3;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>